.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 62px;
    margin-top: 0.5em;
    color: #fff;
    gap: 0.5em;
}

.footer span {
    font-weight: bold;
}

@media (max-width: 1023px) {
    .footer {
        width: 400px;
        margin-top: 8.9em;
    }
}
